ul {
    list-style-type: none;
}

.listItem__list{
    align-items: center;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}

.listItem__wrapper {
    list-style: none;
    padding: 50px 30px;
    margin: 0;
    display: flex;
    padding: 5px;
    margin: 10px;
    align-items: center;
}

.listItem__status{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 30px;
}

.listItem__Title {
    color:  rgb(34, 134, 228);
    font-weight: 700;

}

.listItem__data {
    font-weight: 500;
    margin: 27px;
}

.listItem__description {
    font-weight: 300;
    
}

.listItem__button {
    padding: 15px;
    font-weight: 500;
    background: none;
    border: 2px solid rgb(34, 134, 228);
    color: rgb(34, 134, 228);
    width: 45%;
    align-items: center;
}