ul {
  list-style-type: none;
}

.list {
  align-items: center;
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
}

.wrapper {
  list-style: none;
  padding: 50px 30px;
  margin: 0;
  display: flex;
  padding: 5px;
  margin: 10px;
  align-items: center;
}

.status {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 30px;
}

.title {
  color: rgb(34, 134, 228);
  font-weight: 700;
}

.data {
  font-weight: 500;
  margin: 27px;
}

.description {
  font-weight: 300;
}

.button {
  padding: 15px;
  font-weight: 500;
  background: none;
  border: 2px solid rgb(34, 134, 228);
  color: rgb(34, 134, 228);
  width: 45%;
  align-items: center;
}
